{% load staticfiles %}
{% load i18n %}

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<nav>
    <div class="nav-wrapper">
        <div class="logo">
            <a href="{% url 'basics:index' %}" class="brand-logo">AlgoLab</a>
        </div>
        <ul class="center hide-on-med-and-down">

            <li class="search">
                <div class="input-field">
                    <input id="search" type="search">
                    <label for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </li>
            <ul class="right hide-on-med-and-down">
              {% if user.is_authenticated %}
              <li>{% trans "Hi," %} {{ user.username }}</li>
              <li><a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a></li>
              {% else %}
               <li><a href="{% url 'auth_login' %}" id="btn1">{% trans "Log in" %}</a></li>
              {% endif %}
                <li><a href="#">Contact </a></li>
            </ul>
        </ul>
    </div>
</nav>
{% block content %}{% endblock %}
</body>
</html>
