{% extends 'basics/base_index.html' %}

{% block content %}
    <div class="text-center">
        <h3>Results for {{ query }}</h3>
    </div>
    <div class="by amt">
        <div class="gc">
            <div class="gn">
                <div class="qv rc aog alu">
                    <div class="qx"></div>
                    <div class="qw dj">
                        <h5 class="qy">
                            <a class="aku" href="profile/index.html">Dave Gamache</a>
                        </h5>
                        <p class="alu">I wish i was a little bit taller, wish i was a baller, wish i had a
                            girl…&nbsp;also.</p>
                        <ul class="aoi">
                            <li class="aoj">
                                <a href="#userModal" class="aku" data-toggle="modal">
                                    Friends
                                    <h5 class="ali">12M</h5>
                                </a>
                            </li>

                            <li class="aoj">
                                <a href="#userModal" class="aku" data-toggle="modal">
                                    Enemies
                                    <h5 class="ali">1</h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Created at</th>
            <th>Last modified at</th>
            <th></th>
        </tr>
        {% for p in problems %}
            <tr>
                <td>{{ p.id }}
                <td>{{ p.title }}</td>
                <td>{{ p.description }}</td>
                <td>{{ p.init_time }}</td>
                <td>{{ p.mod_time }}</td>
                <td><a href="{{ p.view_link }}">View</a></td>
                <td><a href="{{ p.edit_link }}">Edit</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}


